/* ============================================= */
/*              Images                           */
/* ============================================= */

.img {
  &-avatar {
    display: $dis;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 100%; 
    max-height: 100%;
  }
  
  &-frame {
    display: $dis;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
  }
  
  &-logo {
    display: $dis;
    margin-left: auto;
    margin-right: auto;
  }
}

